*{
  border: solid 1px black;
}
h1{
  text-align: center;
}
canvas {
  border: 1px solid red;
}

#game{
  width: 700px;
  height: 659px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;


}

#playing-board{
  width: 925px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;


}

.cell{
  width: 35px;
  height: 35px;
  margin: 0;
  /*border: 0px; */
}

.stone{
  width: 35px;
  height: 35px;
  margin: 0;
  background-color: red;
  /*border: 0px; */
}

.bush{
  width: 35px;
  height: 35px;
  margin: 0;
  background-color: yellow;
  /*border: 0px; */
}

.grass{
  width: 35px;
  height: 35px;
  margin: 0;
  background-color: green;
  /*border: 0px; */
}

.scoreboard{
  width: 150px;
  height: 659px;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.sb-title{
  height: 15px;
  margin: 5px 2px 2px 2px;

}

.sb-time{
  height: 45px;
  margin: 5px 2px 15px 2px;

}

.sb-score{
  height: 45px;
  margin: 0 2px 15px 2px;


}

.sb-level{
  height: 45px;
  margin: 0 2px 15px 2px;

}

.sb-lives{
  height: 45px;
  margin: 0 2px 15px 2px;

}

#bomberman{
  background-color: brown;
}